#root {
background-color: black;
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
height: 100%;
width: 100%;
}

nav {
    margin-bottom: 10px;
    background-color: honeydew !important;
}

.App-logo {
    margin-left: 5px;
}

.balance, .addTransaction, .transactionHistory, .history {
    background-color: honeydew;
    margin-bottom: 16px;
    border-radius: .25em;
    padding: 12px 20px;
}

.alert {
    margin-right: 10px;
}

ul {
    list-style-type: none;
}

.footer {
    background-color: honeydew;
    padding: 5px 5px;
}

p {
    margin-top: inherit;
    margin-bottom: inherit;
}